<h1>Admin Page</h1>

<h2>Courses</h2>
{{#each classes}}
  <p>{{name}}</p>
    <a href="/classes/edit/{{_id}}"><button>Edit</button></a>
    <a href="/classes/delete/{{_id}}"><button>Delete</button></a>
{{/each}}

<h2>Users</h2>

{{#each users}}
  <p>{{firstName}}</p>
    <a href="/classes/delete/user/{{_id}}"><button>Delete</button></a>
    <a href="/classes/user/edit/{{_id}}"><button>Edit</button></a>
{{/each}}