<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{#if queueObj.length}}
    <title>({{queueObj.length}}) {{title}}</title>
  {{else}}
    <title>{{title}}</title>
  {{/if}}
  <link href="https://fonts.googleapis.com/css?family=Abel|Biryani:900" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet'
    type='text/css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav>
    <ul class="nav justify-content-center ml-auto">
      {{#if isConnected}}
      <li class="nav-item">
        <a class="nav-link" href="/classroom">{{toUpperCase firstName}}</a>
      </li>
      {{/if}}
      <li class="nav-item">
        <a href="/"><img src="/images/logo-ironhack.png" width="40px"></a>
      </li>
      {{!-- <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li> --}}
      {{#if isNotConnected}}
      <li class="nav-item">
        <a class="nav-link active" href="/auth/login"><i class="far fa-user"></i> Login</a>
      </li>
      {{/if}}
      {{#if isConnected}}
      {{#if isTA}}
      <li class="nav-item">
        <a class="nav-link active" href="/classes/">Classes</a>
      </li>
      {{/if}}
      <li class="nav-item">
        <a class="nav-link" href="/classroom/">Classroom</a>
      </li>
      {{#if isAdmin}}
      <li class="nav-item">
        <a class="nav-link" href="/auth/admin">Admin</a>
      </li>
      {{/if}}
      <li class="nav-item">
        <a class="nav-link" href="/auth/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
      </li>
      {{/if}}
    </ul>

  </nav>

  {{{body}}}

  <footer class="d-none d-xl-block">
    <div class="d-flex justify-content-between">
      <div id="people-online" class="footer-copyright">
      </div>
      <div class="footer-copyright">
        <a href="https://github.com/ironclass/ironclass"> by André Sebastian & Malte Felmy</a>
      </div>
    </div>
  </footer>

  {{!-- SOCKET.IO --}}
  <script src="/socket.io/socket.io.js"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>