<h1>Edit Student {{user.firstName}} {{user.lastName}}</h1>

<form action="/users/user/edit/{{user._id}}" method="POST" enctype="multipart/form-data">
    <div class="form-row">
      <div class="col">
        <input name="firstName" type="text" class="form-control" value="{{user.firstName}}">
      </div>
      <div class="col">
        <input name="lastName" type="text" class="form-control" value="{{user.lastName}}">
      </div>
      <div class="col">
        <input id="datefield" name="birthday" type="date" class="form-control" min="1930-01-01" max="2000-01-01" value="{{birthday}}">
      </div>
      <div class="col">
        <select name="role" class="form-control">
          {{#select user.role}}
            <option value="Student">Student</option>
            <option value="TA">TA</option>
            <option value="Teacher">Teacher</option>
          {{/select}}
        </select>
      </div>
      <div class="col">
          <input type="file" name="photo">
      </div>   
      <button id="btn_addStudent" type="submit" class="btn btn-primary">Change</button>
    </div>
  </form>

{{#if message }}
  <div class="error-message">{{ message }}</div>
{{/if}}

<script src="/javascripts/script.js"></script>
