<div class="container d-flex flex-column align-items-center">
  <h2>Ironhack Classes</h2>
  <div class="container d-flex flex-column align-items-center">
    <a href="/classes/create">
    <button class="btn btn-lg btn-primary">Create</button>
    </a>
  </div>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
 <div class="container d-flex flex-row">
  {{#each classes}}
 
    <div class="card card--margin card--bigger-font" style="width: 18rem;">
      {{!-- <img class="card-img-top" src="..." alt="Card image cap"> --}}
      <div class="card-body">
        <h5 class="card-title"><strong>{{name}}</strong></h5>
        <p class="card-text">{{city}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Teacher: {{_teacher.firstName}} {{_teacher.lastName}}</li>
        <li class="list-group-item">TA: 
          {{#each _TA}}
          {{firstName}} {{lastName}} -
          {{/each}}
        </li>
      </ul>
      <div class="card-body d-flex justify-content-center flex-wrap">
        <a href="/classes/edit/{{_id}}" class="card-link">
          <button class="btn btn-warning">Edit</button>
        </a>
        <a href="/classes/delete/{{_id}}" class="card-link">
          <button class="btn btn-danger">Delete</button>
        </a>
      </div>
    </div>  
  {{/each}}
  </div>
</div>


{{!-- <strong>Name: {{name}}</strong>
<p>City: {{city}}</p>
<p>Teacher: {{_teacher.firstName}} {{_teacher.lastName}}</p>
<p>TAs:
{{#each _TA}}
{{firstName}} {{lastName}}, 
{{/each}}
</p>
<a href="/classes/edit/{{_id}}">Edit</a>
<a href="/classes/delete/{{_id}}">Delete</a>
<br><br> --}}


